<footer class="footer">
    <div class="rights">
        © Olga Ibatullina, 2019
    </div>
    <nav class="footer-menu">
        <ul>
            <li><a href="javascript:;">Behance</a></li>
            <li><a href="javascript:;">Instagram</a></li>
            <li><a href="javascript:;">Vkontakte</a></li>
            <li><a href="javascript:;">Facebook</a></li>
        </ul>
    </nav>
    <div class="made-by">
        <a href="javascript:;">Made by</a>
    </div>
</footer>


<!-- Подключение javscript -->
<script src="js/jquery.js"></script>
<script src="js/libs.js"></script>
<script src="js/common.js"></script>
<!-- end -->
</body>
</html>