<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Olga Ibatullina</title>
    <meta charset="UTF-8"/>
    <meta name="author" content="Vlad Zvezdin"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="format-detection" content="telephone=no">

    <!--ОПИСАНИЕ И КЛЮЧЕВЫЕ СЛОВА-->
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!---->


    <!-- Подключение css -->
    <link rel="stylesheet" href="css/libs.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <!--
        <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
    -->
    <!-- end -->
    <!-- [if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
