<div class="burger loading">
    <span></span><span></span>
</div>
<div class="menu">
    <div class="menu-lists">
        <ul class="list">
            <li class="active"><a href="javascript:;">Featured projects</a></li>
            <li><a href="shoots.html">Shoots</a></li>
            <li><a href="films.html">Films</a></li>
        </ul>
        <ul class="list">
            <li><a href="about.html">Biography</a></li>
            <li><a href="contacts.html">Contact</a></li>
        </ul>
    </div>

    <div class="social-links">
        <ul>
            <li><a href="javascript:;">Behance</a></li>
            <li><a href="javascript:;">Instagram</a></li>
            <li><a href="javascript:;">Vkontakte</a></li>
            <li><a href="javascript:;">Facebook</a></li>
        </ul>
    </div>
</div>