//==================================
// FONTS
//==================================
$roboto: 'Roboto', sans-serif;

//==================================
// COLORS
//==================================
$white: #FFFFFF;
$black: #000000;
$blackll: #333333;
$dark: #1A1D24;
$grayf5: #F5F5F5;
$grayf6: #F6F6F6;
$grayf7: #F7F7F7;
$red: #E82E30;
$yellow: #FFCB00;
